.alert[role='alert'] {
    font-size: 13px;
    position: relative;
    padding-left: 35px;

    .alert-icon {
        position: absolute;
        left: 10px;
        top: 1;
    }
    button.close[data-dismiss='alert'] {
        font-size: 18px;
    }
}