button, .btn {
    box-shadow: 0 0 0 transparent !important;
}

.btn.disabled {
    cursor: not-allowed;
}

.btn-light, .btn-danger, .btn-info, .btn-warning, .btn-primary, .btn-secondary, .btn-success, .btn-dark {
    box-shadow: 0 0 2px $primary !important;
}

// datatables button
.dt-button {
    background-color: #fff;
    border: 1px transparent;
    border-radius: 2px;
    padding: 4px 10px;
    font-size: 14px;
    box-shadow: 0 0 2px $primary !important;
    transition: background .15s ease-in-out;
    &:hover {
        background-color: darken(#fff, 8);
    }
}

.btn-sm.btn-loading {
    &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        vertical-align: middle;
        border: 2.5px solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: .75s linear infinite spinner-border;
    }
}

// animations, keyframes
@keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
