.dataTables_wrapper {
    display: flex;
    flex-wrap: wrap;
    
    .toolbar {
        border-bottom: 2px solid $hr-border;
        width: 50%;
        padding: 20px 13px;
    }
    .dt-buttons {
        border-bottom: 2px solid $hr-border;
        width: 50%;
        padding: 20px 13px;
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        gap: 10px;
    }
    .dataTables_info {
        background-color: #fff;
        width: 50%;
        padding: 13px 13px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: $table-subheading;
    }
    .dataTables_length {
        background-color: #fff;
        width: 50%;
        padding: 0 13px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: $table-subheading;
        label {
            margin-top: 7px;
        }
    }
    .dataTable  {
        width: 100%;
        background-color: #fff;

        thead {
            background-color: $light;
            border-bottom: 1px solid $thead-border;
            font-size: 13px;
            color: $thead-text;
            height: 43px;
            // text-transform: uppercase;
        }
        th {
            position: relative;
            cursor: default;
            &:hover {
                background-color: $table-row-hovered;
            }
            &:active {
                background-color: darken($table-row-hovered, 4);
            }
            &::after {
                font-family: "Font Awesome 5 Free"; 
                content: '\f0dc';
                padding-left: 10px;
            }
        }
        th:first-child, td:first-child {
            padding: 0 13px;
        }
        th:last-child, td:last-child {
            padding: 13px 0;
        }
        tbody tr {
            height: 52px;
            font-size: 13px;
            border-bottom: 1px solid $light-gray-0;
            color: $table-row-text;
            &:hover {
                background-color: $table-row-hovered;
            }

            td {
                &:nth-last-of-type(n + 2) {
                    width: 120px;
                }
                &:last-child() {
                    width: 300px;
                }
            }
        }
        .dataTables_empty {
           text-align: center;
        }
    }
    .dataTables_paginate {
        padding: 15px 13px;
        display: inline;
        margin-left: auto;
        
        .paginate_button {
            border-radius: 50%;
            color: $table-subheading;
            width: 50px;
            height: 30px;
            padding: 7px 12px;
            text-decoration: none;
            font-size: 15px;
            cursor: default;
            &:hover {
                background-color: lighten($secondary, 45);
            }
            &:active {
                background-color: lighten($secondary, 40);
            }
            &.next, &.previous  {
                padding: 10px 15px;
                cursor: pointer;
            }
            &.current, &.active {
                color: $primary;
                font-weight: 600;
                background-color: lighten($primary, 38);
            }
            &.disabled {
                cursor: not-allowed;
                color: $disabled-btn;
                background-color: transparent;
            }
        }
    }
}