.form-group.with-icon {
    position: relative;

    i {
        color: $modal-resource-heading;
        font-size: 14px;
        padding: 0 8px;
        min-width: 25px;
        position: absolute;
        top: 9px;
        left: 0;
    }
    .form-control {
        max-width: 270px;
        padding: 0 6px 0 30px;
        &:valid, &:invalid {
            background-image: none;
        }
        &:valid {
            border-color: $b4-border;
        }

    }
    select.form-control{ 
        padding: 0 4px 0 25px;
        &:required:invalid {
            color: $input-placeholder;
        
        }
        option {
            color: #000;
            &[value=""][disabled] {
                display: none;
            }
        }
    }
    input.form-control::placeholder, textarea.form-control, select option:first-child {
        color: $input-placeholder;
        opacity: 1;
    }

    .invalid-feedback, .valid-feedback {
        padding-left: 5px;
    }
}