.toast[role='alert'] {
    border: none;
    box-shadow: 0 6px 10px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23), 0 0 6px rgba(0,0,0,0.23) inset;
    font-size: 14px;
    padding: 4px 7px;
    position: fixed; 
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    pointer-events: none;
    overflow: hidden;
    &::before{
        content: '';
        background: radial-gradient(circle, rgba(#fff,.05) 44%, rgba(#fff,.08) 51%, rgba(#fff,.1) 58%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -19px;
        transform: translateY(-54%);
    }
    &.toast-success {
        background-color: rgba($green, .9);
        color: #fff;
        .toast-body::before {
            content: '\f00c';
        }
    }
    &.toast-danger {
        background-color: rgba(#DC3440, .9);
        color: #fff;
        .toast-body::before {
            content: '\f057';
        }
    }
    &.toast-warning {
        background-color: rgba(#FFC107, .9);
        .toast-body::before {
            content: '\f12a';
        }
    }

    .toast-body::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
        margin-right: 10px;
    }
    .toast-header {
        background-color: unset;
    }
}