// $primary: #4972b4; // 73, 114, 180
// $primary: #528B78; // 82, 139, 120
// $primary: #369763;
$primary: #21a076;
// $dark: #202434;
// $dark: #49112d;
// $white: #F3F4F6;
// $white: #E3FFF8;
$dark: #1F2937;

$nav-pills-link-active-color: #4972b4;
$nav-pills-link-active-bg: transparent;

$nav-link-padding-y: .57rem;
$nav-link-padding-x: .63rem;

$body-bg: #f8f9fa;

$transition-collapse: height 0s;

$modal-backdrop-opacity: .3;

$modal-fade-transform: scale(.8);
$modal-transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);

// paddings
// $modal-header-padding: 0px;
// $modal-inner-padding: 0px;
// $modal-footer-margin-between: 0px;

//hover
$list-group-hover-bg: $hoverable;
$list-group-action-active-bg: $hoverable-focusable;

