:root {
    --sidebar-bg: #202434
}

// $green: #528B78;
// $green: #369763;
$green: #21a076;
$red: #DC3440;
$blue: #4972b4;
$pale-navy: #C0C5D3;
$light-grayish-navy: #747a8b;
$light-grayish-navy-2: #44464d;
$light-graying-navy-3: #7f9297;
$light-gray-0: #f0f0f0;
$light-gray: #cfcfcf;
$light-gray-1: #A1A2A3;
$light-gray-2: #C5C5C5;
$light-gray-3: #ced4da;
$bright-yellow: #FFF5E8;
$bright-yellow-2: #FFF3CD;
$dark-yellow: #A36404;
$light-blue: #e8f0fe;

$hoverable: #FFF5E8;
$hoverable-focusable: #FFF3CD;
$shadow-1: #CDCFD1;

$hr-border: $light-gray-0;
$main-heading: $light-graying-navy-3;
$modal-resource-heading: $light-graying-navy-3;
$modal-resource-hovered: $bright-yellow;
$sidebar-navbrand-link: $pale-navy;
$sidebar-nav-link: $pale-navy;
$sidebar-nav-sub-link: $light-grayish-navy;
$sidebar-nav-sub-heading: $light-grayish-navy-2;
$disabled-btn: $light-gray;
$thead-border: $light-gray;
$thead-text: $light-grayish-navy;
$table-subheading: $light-gray-1;
$table-row-hovered: $bright-yellow;
$table-row-text: $light-graying-navy-3;
$input-placeholder: $light-gray-2;
$toast-warning: $bright-yellow-2;
$toast-warning-text: $dark-yellow;
$b4-border: $light-gray-3;
$toast-success: $blue;
$sidebar-nav-scrollthumb: #fff;
// fa
$fa-font-family: 'Font Awesome 5 Free';

