//icons
// @import "~@fortawesome/fontawesome-free/css/all.min.css";
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

// sass variables
@import "variables/colors";

// bs4 sass variable override
@import "override/color";

//bs4
@import "~bootstrap/scss/bootstrap";

// bs4 Styling Override
@import "override/datatables";
@import "override/buttons";
@import "override/breadcrumbs";
@import "override/list-group-action";
@import "override/dropdown";
@import "override/modal";
@import "override/alert";
@import "override/toast";
@import "override/spinner";
@import "override/form";
@import "override/tooltip";


// global
body {
    font-family: 'Roboto', Arial, sans-serif;
}

hr {
    // padding: 0;
    // margin: 0;
}

// scrolled
.scrolled {
    .main-content header {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: rgba(#fff, .8);
    }
}

//shared
.navs-list {
    list-style: none;
    padding: 10px 0; 
    margin: 0;

    .navs-item { 
        position: relative;
        padding: 0 10px; 

        i {
            font-size: 15px;
            width: 28px;
            text-align: center;
        }
        .navs-heading {
            display: block;
            color: $sidebar-nav-sub-link;
            font-weight: 600;
            font-size: 13px;
            text-decoration: none;
        }
        .navs-link {
            display: block;
            color: $sidebar-nav-link;
            padding: 10px 0; 
            font-weight: 500;
            font-size: 12px;
            text-decoration: none;
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 4px;
                height: 100%;
                border-radius: 25px;
                background: $primary;
                transition: all .3s ease-in-out;
                transform: scaleY(0);
            }
            &.active {
                color: $primary;
            }   
            &:hover {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: darken($primary, 3);
                    opacity: .2;
                }
            }
        }
    }
}

// layout
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;   
}

.left-sidebar-nav {
    background-color: $dark;
    width:200px;
    height: 100%;
    position: relative;
    box-shadow: -10px 2px 22px rgba(0,0,0,0.25) inset, 0 5px 10px rgba(0,0,0,0.20) inset, 0 16px 6px rgba(0,0,0,0.16), 0 10px 6px rgba(0,0,0,0.23);
    transition: width .5s ease-in-out, box-shadow .3s ease-in-out;
    &:hover {
        box-shadow: 15px 2px 30px rgba(#000, .25) inset
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 7px;
        background-color: transparent;
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $sidebar-nav-scrollthumb;
    }
    @media (max-height: 380px) {
        overflow-y: scroll; 

        &::-webkit-scrollbar {
            display: unset;
        }
        .my-account {
            position: unset;
        }
        
    }
    
    header {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        font-size: 16px;
        position: relative;

        .sidebar-nav-btn {
            color: $sidebar-navbrand-link;
            font-size: 18px;
            padding: 5px 15px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background .5s;
            cursor: pointer;
            &:hover {
                background-color: rgba(#000, .15);
            }
        }
    }

    .navs-item { 
        .navs-link {
            color: $sidebar-nav-link;
            font-weight: 500;
            font-size: 12px;

            &:hover {
                &::after {
                    transform: scaleY(1);
                }
            }
        }
    }
    
    .my-account {
        background-color: darken($primary, 30);
        display: flex;
        gap: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 8px 10px;
        cursor: pointer;
        &:hover {
            background-color: darken($primary, 28);
        }
        @media (max-height: 380px) {
            position: unset;
        }

        .img-container {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $primary;
            img {
                width: 100%;
            }
        }
        .details-container {
            .fullname {
                display: block;
                font-size: 13px;
                color: $primary;
            }
            .username {
                display: block;
                font-size: 11px;
                color: $light;
            }
        }
    }
}

.left-sidebar-sub {
    background-color: #fff;
    width:210px;
    height:100%;
    box-shadow: 0 16px 6px rgba(0,0,0,0.16), 0 10px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    header {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        font-size: 15px;
        font-weight: 500;
    }

    .navs-item { 
        .navs-heading {
            color: $sidebar-nav-sub-heading;
            padding: 0px;
            
        }
        .navs-link {
            color: $sidebar-nav-sub-link;
            font-weight: 500;
            font-size: 12px;
            cursor: default;
            &.active {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: darken($primary, 3);
                    opacity: .2;
                }
            }   
            &:hover {
                &::before {
                    background-color: $primary;
                }
            }
        }
    }
}

.main-content {
    width: 100%;

    header {
        background-color: $light;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 13px;
        font-size: 16px;
        z-index: 1;
        transition: box-shadow .5s, background .8s;

        .main-heading {
            color: $main-heading;
            font-size: 20px;
            font-weight: 400;
        }
    }

}

// javascript-toggled css
.sidebar-nav-collapsed {
    .left-sidebar-nav {
        width: 60px;
        height: 100%;

        header {
            padding: 0;

            span{
                color: transparent !important;
                pointer-events: none;
                position: absolute;
            }
            .sidebar-nav-btn {
                width: 100%;
                height: 100%;
            }
        }
        .navs-link {
            text-align: center;
            
            span {
                display: none;
            }
        }
        .my-account {
            display: flex;
            justify-content: center;
            z-index: 20;

            .details-container {
                display: none;
            }
        }
    }
}
